/* CSS - Name: "main.css" */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');  
            body {
                font-family: arial, helvetica, sans-serif;
                }
        
            * {
                box-sizing:border-box;
            }
            
            #content {
                width: 90%;
                max-width: 940px;
                margin:0 auto;
                 padding: 1em;
                 clear: both;
                 overflow: auto;
              
            }
            img {
                max-width: 100%;
                clear:both;
            }
            #banner img {
                width: 100%
            }
            
            nav {
                background-color: black;
                color: #E7C24F;
                font-size: 1 1em;
                line-height: 1.5em;
            }
            nav > ul {
                list-style-type: none;
                display: flex;
                justify-content:space-around;
                flex-flow: row wrap;
            }
            nav li {
              flex: 1 0 6em;  
            }
            nav a:link, nav a:visited {
                color: #E7C24F;
                text-decoration: none;
            }
            nav a:hover {
                text-decoration: underline;
            }
            a {
                color: #E7C24F;
                text-decoration: none;
            }
            
            h1 {
                color: red;
                text-align: right;
                font-family: "rock salt", "palatino linotype", serif;
                
            }
            h2 {
                color: red;
                text-align: Left;
                font-family: "rock salt", "palatino linotype", serif;
            }
            h3 {
                color: red;
                text-align: center;
                font-family: "rock salt", "palatino linotype", serif;
            }
           
            #rivers-relax {
                background-color:black;
                padding: 1em;
            }
            .relaxing {
                background-color: darkgray;
                text-align: center;
                padding:6px;
                font-family: "helvetica","times-new-roman", serif;
                width:30%;
                float:right;
         }
            
            }
            #white-rush {
                background-color:black;
                padding:1em;
                
            }
            .whitewater-rush {
                background-color: darkgray;
                text-align: center;
                padding: 6px;
                font-family: "helvetica","times-new-roman", serif;
                width:30%;
                float:right;
                
            }
            #final-caption {
                background-color:black;
                padding:1em;
            }
            .closing {
                background-color: darkgray;
                text-align: center;
                padding:6px;
                font-family: "helvetica","times-new-roman", serif;
                
            }
             #section1 {
                 padding: 1em;
                 clear: both;
                 overflow: auto;
                 }
            #footer1 {
                bottom: 0;
                padding: 1em;
                clear: both;
                overflow: auto;
              
            }
            #copyright1 {
                float:left;
              
            }
            #social-icons {
                float:right;
            }
            #section2 {
                border: solid;
                background-color:lightblue;
                padding: 1em;
                clear: both;
                overflow: auto;
               
               }
            #section2, #section3 {
                display: flex;
                flex-flow: row wrap;
                  -moz-column-count: 2;
             
 
            }
            
            #section3{
                border: solid;
                padding: 1em;
                clear: both;
                overflow: auto;
                
            }
            #section4{
                border:solid;
                 background-color:lightblue;
                padding: 1em;
                clear: both;
                overflow: auto;
            }
                 
            p {
                line-height: 1.5;
                color:black;
            }
            p.ex {
                height: 100px;
                width: 100px;
            }
            p {
                margin: 2px 4px 4px 2px;
            }
           
            body {
                font-family: Helvetica, Ariel, sans-serif;
            }